USE [master]
GO
/****** Object:  Database [CyberCoreDB]    Script Date: 10/4/2025 20:42:17 ******/
CREATE DATABASE [CyberCoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CyberCoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CyberCoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CyberCoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CyberCoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CyberCoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CyberCoreDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritoes]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Carritoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componentes]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componentes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Marca] [nvarchar](max) NULL,
	[Precio] [float] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Stock] [int] NOT NULL,
	[Categoria] [nvarchar](max) NULL,
	[Capacidad] [int] NULL,
	[TipoAlmacenamiento] [nvarchar](max) NULL,
	[VelocidadLectura] [float] NULL,
	[VelocidadEscritura] [int] NULL,
	[Potencia] [int] NULL,
	[Certificacion] [nvarchar](max) NULL,
	[Formato] [nvarchar](max) NULL,
	[VentanaAcrilico] [bit] NULL,
	[Vram] [int] NULL,
	[TipoMemoria] [nvarchar](max) NULL,
	[VelocidadReloj] [float] NULL,
	[Socket] [nvarchar](max) NULL,
	[Formato1] [nvarchar](max) NULL,
	[SlotsRAM] [int] NULL,
	[SlotsPCIe] [int] NULL,
	[Socket1] [nvarchar](max) NULL,
	[Nucleos] [int] NULL,
	[Hilos] [int] NULL,
	[Frecuencia] [float] NULL,
	[Capacidad1] [int] NULL,
	[TipoMemoria1] [nvarchar](max) NULL,
	[Frecuencia1] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Carrito_ID] [int] NULL,
	[Orden_ID] [int] NULL,
	[ReporteInventario_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Componentes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPagoes]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPagoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Detalles] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NumeroTarjeta] [nvarchar](max) NULL,
	[FechaVencimiento] [datetime] NULL,
	[CVV] [int] NULL,
	[NumeroTarjeta1] [nvarchar](max) NULL,
	[FechaVencimiento1] [datetime] NULL,
	[CVV1] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.MetodoPagoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordens]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordens](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[CarritoID] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Estado] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[MetodoPago_ID] [int] NULL,
	[ReporteVentas_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Ordens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteInventarios]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteInventarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TotalStock] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ReporteInventarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteVentas]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteVentas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFinal] [datetime] NOT NULL,
	[TotalVentas] [float] NOT NULL,
 CONSTRAINT [PK_dbo.ReporteVentas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccions]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenID] [int] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[Monto] [real] NOT NULL,
	[Estado] [nvarchar](max) NULL,
	[CodigoAutorizacion] [nvarchar](max) NULL,
	[MensajeError] [nvarchar](max) NULL,
	[MetodoPago_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Transaccions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/4/2025 20:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NULL,
	[Contraseña] [nvarchar](max) NULL,
	[esAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Componentes] ON 

SET IDENTITY_INSERT [dbo].[Componentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombre], [Correo], [Contraseña], [esAdmin]) VALUES (6, N'Hjasher', N'hjasher204@gmail.com', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON [dbo].[Carritoes]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carrito_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_Carrito_ID] ON [dbo].[Componentes]
(
	[Carrito_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orden_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_Orden_ID] ON [dbo].[Componentes]
(
	[Orden_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReporteInventario_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_ReporteInventario_ID] ON [dbo].[Componentes]
(
	[ReporteInventario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetodoPago_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_MetodoPago_ID] ON [dbo].[Ordens]
(
	[MetodoPago_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReporteVentas_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_ReporteVentas_ID] ON [dbo].[Ordens]
(
	[ReporteVentas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON [dbo].[Ordens]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetodoPago_ID]    Script Date: 10/4/2025 20:42:17 ******/
CREATE NONCLUSTERED INDEX [IX_MetodoPago_ID] ON [dbo].[Transaccions]
(
	[MetodoPago_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carritoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carritoes_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carritoes] CHECK CONSTRAINT [FK_dbo.Carritoes_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Componentes_dbo.Carritoes_Carrito_ID] FOREIGN KEY([Carrito_ID])
REFERENCES [dbo].[Carritoes] ([ID])
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [FK_dbo.Componentes_dbo.Carritoes_Carrito_ID]
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Componentes_dbo.Ordens_Orden_ID] FOREIGN KEY([Orden_ID])
REFERENCES [dbo].[Ordens] ([ID])
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [FK_dbo.Componentes_dbo.Ordens_Orden_ID]
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Componentes_dbo.ReporteInventarios_ReporteInventario_ID] FOREIGN KEY([ReporteInventario_ID])
REFERENCES [dbo].[ReporteInventarios] ([ID])
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [FK_dbo.Componentes_dbo.ReporteInventarios_ReporteInventario_ID]
GO
ALTER TABLE [dbo].[Ordens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ordens_dbo.MetodoPagoes_MetodoPago_ID] FOREIGN KEY([MetodoPago_ID])
REFERENCES [dbo].[MetodoPagoes] ([ID])
GO
ALTER TABLE [dbo].[Ordens] CHECK CONSTRAINT [FK_dbo.Ordens_dbo.MetodoPagoes_MetodoPago_ID]
GO
ALTER TABLE [dbo].[Ordens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ordens_dbo.ReporteVentas_ReporteVentas_ID] FOREIGN KEY([ReporteVentas_ID])
REFERENCES [dbo].[ReporteVentas] ([ID])
GO
ALTER TABLE [dbo].[Ordens] CHECK CONSTRAINT [FK_dbo.Ordens_dbo.ReporteVentas_ReporteVentas_ID]
GO
ALTER TABLE [dbo].[Ordens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ordens_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ordens] CHECK CONSTRAINT [FK_dbo.Ordens_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[Transaccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaccions_dbo.MetodoPagoes_MetodoPago_ID] FOREIGN KEY([MetodoPago_ID])
REFERENCES [dbo].[MetodoPagoes] ([ID])
GO
ALTER TABLE [dbo].[Transaccions] CHECK CONSTRAINT [FK_dbo.Transaccions_dbo.MetodoPagoes_MetodoPago_ID]
GO
USE [master]
GO
